<section class="d-flex justify-content-center align-items-center h-100">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title mb-0">Request Form</h2>
            </div>
            <mat-card class="card-body">
                <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input
                            matInput
                            formControlName="name"
                            type="text"
                            name="name"
                            placeholder="Enter your full name"
                            formControlName="name"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email Address</mat-label>
                        <input
                            matInput
                            formControlName="email"
                            type="text"
                            name="email"
                            placeholder="Enter your email address"
                            formControlName="email"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Passowrd</mat-label>
                        <input
                            matInput
                            formControlName="password"
                            type="password"
                            name="password"
                            placeholder="Enter your password"
                            formControlName="password"
                        />
                    </mat-form-field>
                    <div
                        class="d-flex justify-content-center align-items-center"
                    >
                        <button
                            type="submit"
                            mat-raised-button
                            class="px-5"
                            color="primary"
                            [disabled]="!requestForm.valid"
                        >
                            <span
                                *ngIf="isLoading"
                                class="spinner-border spinner-border-sm"
                            ></span>
                            {{ isLoading ? "Loading..." : "Send" }}
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</section>
