<section>
    <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
        <h1>
            {{ isEdit ? "Edit Bookshop" : "Add Bookshop" }}
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a
                        class="text-decoration-none"
                        routerLink="/bookshop-owner/dashboard"
                    >
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a
                        class="text-decoration-none text-black-50"
                        routerLink="/bookshop-owner/bookshops"
                    >
                        Bookshops
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a
                        class="text-decoration-none text-black-50"
                        [routerLink]="
                            '/bookshop-owner/bookshops' +
                            (isEdit ? '/' + bookshopId + '/edit' : '/add')
                        "
                    >
                        {{ isEdit ? "Edit" : "Add" }}
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <form [formGroup]="bookshopForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Bookshop Name</mat-label>
                    <input
                        matInput
                        type="text"
                        name="bookshop-name"
                        formControlName="name"
                        placeholder="Enter bookshop name"
                        required
                    />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Bookshop Location</mat-label>
                    <input
                        matInput
                        type="text"
                        name="bookshop-location"
                        formControlName="location"
                        placeholder="Enter bookshop location"
                        required
                    />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Bookshop Phone</mat-label>
                    <input
                        matInput
                        type="tel"
                        name="bookshop-phone"
                        formControlName="phone"
                        placeholder="Enter bookshop phone number"
                        required
                    />
                </mat-form-field>

                <div class="d-flex justify-content-center align-items-center">
                    <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                        class="px-5"
                        [disabled]="!bookshopForm.valid"
                    >
                        <span
                            class="spinner-border spinner-border-sm me-2"
                            *ngIf="isLoading"
                        ></span>
                        {{
                            isLoading ? "Loading..." : isEdit ? "Update" : "Add"
                        }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
