<section>
    <div class="card">
        <div class="card-header d-flex flex-column gap-3 flex-md-row justify-content-between align-items-center">
            <h3 class="card-title mb-0">Bookshops</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive" *ngIf="!isLoading; else Loading">
                <table class="table" *ngIf="bookshops &&  bookshops.length > 0">
                    <thead class="text-black-50">
                        <th class="p-2">S/N</th>
                        <th class="p-2">Bookshop Name</th>
                         <th class="p-2">Bookshop Location</th>
                          <th class="p-2">Phone Number</th>
                          <th class="p-2">Total Books</th>
                        <th class="p-2">Creation Date</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bookshop of bookshops; let i = index;">
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>
                                <span class="text-capitalize">
                                    {{ bookshop.name }}
                                </span>
                            </td>
                            <td>
                                <span class="text-capitalize">
                                    {{ bookshop.location }}
                                </span>
                            </td>
                            <td>
                                <span class="text-capitalize">
                                    {{ bookshop.phone }}
                                </span>
                            </td>
                             <td>
                                <span class="text-capitalize">
                                    {{ bookshop.books.length }}
                                </span>
                            </td>
                            <td>
                                {{ bookshop.created_at | date: 'dd/mm/yyyy hh:mm' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="bookshops && bookshops.length === 0">
                      <div class="alert alert-info text-center">
                        <h3 class="alert-heading">No bookshop!</h3>
                        <p>There are no bookshop in the database.</p>
                    </div>
                </div>
            </div>

            <ng-template #Loading>
                <div class="py-5 d-flex justify-content-center align-items-center">
                     <span class="spinner-border text-primary"></span>
                </div>
            </ng-template>
        </div>
    </div>
</section>
