/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

td {
    vertical-align: middle;
}

table {
    img {
        height: 6rem;
        object-fit: cover;
    }
}

.img-preview {
    height: 6rem;
    object-fit: cover;
    margin: 1rem auto;
    img {
        width: auto;
        height: 100%;
    }
}

// give font-size for all inputs and textareas of 16px
input,
textarea {
    font-size: 16px !important;
}
