.mat-list .mat-list-item {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.mat-list .mat-list-item:hover {
    color: rgb(198, 197, 212);
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 230px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-list-item:focus,
.mat-list-item.active {
    background: #f5f5f5;
}
