<section class="row g-3">
    <div class="col-lg-3 col-md-6 col-12">
        <mat-card class="d-flex gap-3 p-2">
            <div class="card-icon">
                <mat-icon class="material-symbols-rounded text-black-50">
                    local_library
                </mat-icon>
            </div>

            <div class="flex-grow-1">
                <h3 class="mb-2">Bookshops Available</h3>
                <p class="mb-0">
                    <span class="text-black fw-normal fs-2">
                        {{ bookshopLength }}
                    </span>
                </p>
            </div>
        </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
        <mat-card class="d-flex gap-3 p-2">
            <div class="card-icon">
                <mat-icon class="material-symbols-rounded text-black-50">
                    book
                </mat-icon>
            </div>

            <div class="flex-grow-1">
                <h3 class="mb-2">Total Books</h3>
                <p class="mb-0">
                    <span class="text-black fw-normal fs-2">
                        {{ bookLength }}
                    </span>
                </p>
            </div>
        </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
        <mat-card class="d-flex gap-3 p-2">
            <div class="card-icon">
                <mat-icon class="material-symbols-rounded text-black-50">
                    category
                </mat-icon>
            </div>

            <div class="flex-grow-1">
                <h3 class="mb-2">Total Categories</h3>
                <p class="mb-0">
                    <span class="text-black fw-normal fs-2">
                        {{ categoriesLength }}
                    </span>
                </p>
            </div>
        </mat-card>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
        <mat-card class="d-flex gap-3 p-2">
            <div class="card-icon">
                <mat-icon class="material-symbols-rounded text-black-50">
                    groups
                </mat-icon>
            </div>

            <div class="flex-grow-1">
                <h3 class="mb-2">Users</h3>
                <p class="mb-0">
                    <span class="text-black fw-normal fs-2">
                        {{ usersLength }}
                    </span>
                </p>
            </div>
        </mat-card>
    </div>
</section>
